{% extends 'base.html.twig' %}

{% block title %}Hello PaymentController!{% endblock %}

{% block body %}
    <section class="hero-section">
        <div class="hero-slider owl-carousel">
            <div class="hs-item-own">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="hs-text">
                                <h2><span>Bank-Konto</span> registrieren</h2>

                                {{ form_start(form, {'method': 'POST'}) }}
                                <div class="my-custom-class-for-errors">
                                    {{ form_errors(form) }}
                                </div>

                                <table class="table table-hover">
                                    <tr>
                                        <th><p>Kontoinhaber: </p></th>
                                        <td>{{ form_widget(form.accountName, {'attr': {'class': 'earch-form input'}}) }}</td>
                                    </tr>
                                    <tr>
                                        <th><p>Name der Bank: </p></th>
                                        <td>{{ form_widget(form.bankName, {'attr': {'class': 'earch-form input'}}) }}</td>
                                    </tr>
                                    <tr>
                                        <th><p>IBAN: </p></th>
                                        <td>{{ form_widget(form.iban, {'attr': {'class': 'earch-form input'}}) }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th><p>BIC: </p></th>
                                        <td>{{ form_widget(form.bic, {'attr': {'class': 'earch-form input'}}) }}</td>
                                    </tr>
                                    <tr>
                                        <th><p>Beschreibung: </p></th>
                                        <td>{{ form_widget(form.description, {'attr': {'value':  descriptionValue  }}) }}</td>
                                    </tr>
                                    <tr>
                                        <th><p>Als verfügbar anzeigen: </p></th>
                                        <td>{{ form_widget(form.enabled, {'attr': {'class': 'earch-form input'}}) }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th><p>Bevorzugtes Konto für Geldeingänge: </p></th>
                                        <td>{{ form_widget(form.preferred, {'attr': {'class': 'earch-form input'}}) }}</td>
                                    </tr>
                                </table>

                                {{ form_row(form._token) }}
                                {{ form_widget(form.submit, {'attr': {'class': 'site-btn'}}) }}


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
{% endblock %}
